.idea/
app/release
keystore.properties
gradle.properties

# Secrets
credentials.properties
data/src/main/cpp/secrets.cpp
data/src/main/java/by/alexandr7035/data/secrets/Secrets.kt

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
